html, body {
	height: 1500px;
	width: 1500px;
}

#background {
	background-color: #ffeecc;
}

#intro {
	border-style: solid;
	border-color: orange;
	border-weight: 5px;
	font-family: 'Segoe UI', Tahoma;
	font-size: 20px;
	text-align: justify;
	width: 1000px;
}

.navigation {
	border-style: solid;
	border-color: red;
	border-weight: 5px;
	font-family: 'Segoe UI', Tahoma;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 150px;
}

.edge {
	display: inline-block;
	width: 50px;
}

.divider {
	display: inline-block;
	width: 100px;
}

.sidebar {
  background-color: #ccffee;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
	text-align: left;
	display: inline-block;
	width: 200px;
	font-family:'Segoe UI', Tahoma;
}
