html, body {
	height: 100%;
	width: 100%;
}

body > img {
	width: 80vw;
	height: 45vh;
}

#intro {
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 5px;
	width: 1000px;
}

.navigation {
	font-family: 'Segoe UI', Tahoma;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 150px;
	padding: 5px;
}

.imgtext {
	padding: 5px;
	font-family: 'Segoe UI', Tahoma;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 150px;
}

.edge {
	display: inline-block;
	width: 50px;
}

.divider {
	display: inline-block;
	width: 100px;
}

#sidebar
.divider {
	display: inline-block;
	width: 100px;
}

.sidebar {
  	background-color: #ccffee;
  	height: 100%;
  	position: fixed;
  	right: 0px;
  	top: 0px;
	text-align: left;
	display: inline-block;
  	width: 15vw;
	font-family:'Segoe UI', Tahoma;
}

#header1 {
	
}

div#mio, div#tres {
	margin: 0 auto;
	height: 40vh;
	width: 80%;
	border: 3px outset orange;
	background: skyblue;
	position: relative;
	overflow: hidden;
}

#mio_pic{
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	left: 5px;
	overflow: hidden;
	float: left;
	clear: left;
}

#tres_pic {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	right: 5px;
	overflow: hidden;
	float: right;
	clear: right;
}

#mio_intro {
	position: absolute;
	display: inline-block;
	width: 50%;
	height: 40vh;
	left: 185px;
	clear: left;
	text-align: justify;
}

#tres_intro {
	position: absolute;
	display: inline-block;
	width: 50%;
	height: 40vh;
	right: 185px;
	clear: right;
	text-align: justify;
}

#mio_hi {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	right: 5px;
	text-align: right;
}

#tres_hi {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	left: 5px;
}

/* lgbtq page css */
#lgbtq {
  background-color: #ffeecc;
}

#intro_lgbtq {
  position: absolute;
  display: inline-block;
  width: 70%;
  left: 190px;
  clear: left;
  border: 5px solid #cceeff;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

#history {
  position: absolute;
  display: inline-block;
  width: 70%;
  right: 190px;
  clear: right;
  border: 5px solid #cceeff;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

#rainbow2 {
  position: absolute;
  display: inline-block;
  right: 0px;
  float: right;
  clear: right;
  overflow: hidden;
}
