html, body {
	height: 100%;
	width: 100%;
}

body > img {
	width: 80vw;
	height: 45vh;
}

#intro {
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 5px;
	width: 1000px;
}

.navigation {
	font-family: 'Segoe UI', Tahoma;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 150px;
	padding: 5px;
}

.imgtext {
	padding: 5px;
	font-family: 'Segoe UI', Tahoma;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 150px;
}

.edge {
	display: inline-block;
	width: 50px;
}

.divider {
	display: inline-block;
	width: 100px;
}

#sidebar
.divider {
	display: inline-block;
	width: 100px;
}

.sidebar {
  	background-color: #ccffee;
  	height: 100%;
  	position: fixed;
  	right: 0px;
  	top: 0px;
	text-align: left;
	display: inline-block;
  	width: 15vw;
	font-family:'Segoe UI', Tahoma;
}

#header1 {
	
}

div#mio, div#tres {
	
}

#mio div, #tres div {
	
}

div#mio_pic, div#tres_pic {
	display: inline-block;
}

div#mio_hi, div#tres_hi {
	width: 20vw;
	height: 250px;
	display: inline-block;
	float: left;
}

p#mio_intro, p#tres_intro {
	width: 50vw;
	height: 250px;
	display: inline-block;
	float: left;
}

/* lgbtq page css */
#lgbtq {
  background-color: #ffeecc;
}

#intro_lgbtq {
  position: absolute;
  display: inline-block;
  width: 70%;
  left: 190px;
  clear: left;
  border: 5px solid #cceeff;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

#history {
  position: absolute;
  display: inline-block;
  width: 70%;
  right: 190px;
  clear: right;
  border: 5px solid #cceeff;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

#rainbow2 {
  position: absolute;
  display: inline-block;
  right: 0px;
  float: right;
  clear: right;
  overflow: hidden;
}
